{% extends 'base.html' %}
{% block title %}Lisa ruum{% endblock title %}


{% block content %}
<br>
<h3>Uue ruumi lisamine</h3>
<br>
<form action="/postruum/" method="post">
{% csrf_token %}
    <div class="form-group row">
        <label for="ruumikood" class="col-sm-2 col-form-label">
    Ruumi kood:
        </label>
        <div class="col-sm-2">
    <input type="text" id="ruumikood" name="ruumikood">
    </div>
    </div>
    <div class="form-group row">
     <label for="ruumikirjeldus" class="col-sm-2 col-form-label">
    Kirjeldus:
     </label>
        <div class="col-sm-4">
         <textarea class="form-control" name="ruumikirjeldus" id="ruumikirjeldus" rows="3"></textarea>
</div>
    </div>
<div class="col-md-2 offset-md-2">    <input type="submit" value="Lisa">
</div>
</form>
{# Main Section #}

{% endblock content %}
