{% extends 'base.html' %}
{% block title %}Ruumid{% endblock title %}


{% block content %}
<br>
<h3>Ruumid</h3>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Kood</th>
      <th scope="col">Kirjeldus</th>
      <th scope="col">Lisatud</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for ruumikood,kirjeldus,aeg in ruumid %}
  <tr>
    <th scope="row"><a href="/ruumdetails/?k={{ruumikood}}">{{ruumikood}}</a></th>
   <td>{{kirjeldus}}</td>
   <td>{{aeg}}</td>
    <td>
      <a href="/ruumedit/?k={{ruumikood}}">
        <div style="color:Black">
          <i class="far fa-edit fa-lg"></i>
        </div>
      </a></td>
    <td>
      <a href="/ruumdel/?k={{ruumikood}}">
        <div style="color:Red">
          <i class="far fa-trash-alt fa-lg"></i>
    </div>
      </a>
    </td>
</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{# Main Section #}

{% endblock content %}
